<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">User list</h1>

      <div>
        <input type="text" class="form-control search" placeholder="Search" ng-model="search" ng-change="filtering()"/>
      </div>

      <div class="actionsRow">
        <span class="pageSpan">
          <span ng-if="currentPage > 0" ng-click="previousPage()">
            <a><i class="fa fa-angle-double-left"></i> Previous {{perPage}} users</a>
            <span>| </span>
          </span>
          <span>Showing {{visiblePageRange()}} of {{sortedUsers().length}} users</span>
          <span ng-if="sortedUsers().length > currentPage * perPage + 10" ng-click="nextPage()">
            <span>| </span>
            <a>Next {{perPage}} users <i class="fa fa-angle-double-right"></i></a>
          </span>
        </span>

        <button class="addUserButton btn btn-default" type="submit" ng-click="addUserRow()">
          <span><i class="fa fa-plus"></i> Add User</span>
        </button>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <!-- This should be dry'ed up a bit -->
            <th class="sortableColumn" ng-click="sortUsers('lastName')">
              Last Name
              <span ng-if="sortField === 'lastName'">
                <i class="fa fa-caret-up" ng-show="sortOrder"></i>
                <i class="fa fa-caret-down" ng-hide="sortOrder"></i>
              </span>
            </th>
            <th class="sortableColumn" ng-click="sortUsers('firstName')">
              First Name
              <span ng-if="sortField === 'firstName'">
                <i class="fa fa-caret-up" ng-show="sortOrder"></i>
                <i class="fa fa-caret-down" ng-hide="sortOrder"></i>
              </span>
            </th>
            <th class="sortableColumn ageColumn" ng-click="sortUsers('age')">
              Age
              <span ng-if="sortField === 'age'">
                <i class="fa fa-caret-up" ng-show="sortOrder"></i>
                <i class="fa fa-caret-down" ng-hide="sortOrder"></i>
              </span>
            </th>
            <th class="sortableColumn" ng-click="sortUsers('email')">
              Email
              <span ng-if="sortField === 'email'">
                <i class="fa fa-caret-up" ng-show="sortOrder"></i>
                <i class="fa fa-caret-down" ng-hide="sortOrder"></i>
              </span>
            </th>
            <th class="sortableColumn" ng-click="sortUsers('createdOn')">
              Created on
              <span ng-if="sortField === 'createdOn'">
                <i class="fa fa-caret-up" ng-show="sortOrder"></i>
                <i class="fa fa-caret-down" ng-hide="sortOrder"></i>
              </span>
            </th>
            <th class="sortableColumn" ng-click="sortUsers('lastEdited')">
              Last edited
              <span ng-if="sortField === 'lastEdited'">
                <i class="fa fa-caret-up" ng-show="sortOrder"></i>
                <i class="fa fa-caret-down" ng-hide="sortOrder"></i>
              </span>
            </th>
            <th class="sortableColumn" ng-click="sortUsers('active')">
              Active
              <span ng-if="sortField === 'active'">
                <i class="fa fa-caret-up" ng-show="sortOrder"></i>
                <i class="fa fa-caret-down" ng-hide="sortOrder"></i>
              </span>
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in visibleUsers()"  ng-click="editUser(user)">
            <td>
              <span ng-hide="user.editing">{{user.lastName}}</span>
              <input type="text" ng-show="user.editing" ng-model="user.lastName" class="form-control"
                     placeholder="Enter a last name" ng-required />
            </td>
            <td>
              <span ng-hide="user.editing">{{user.firstName}}</span>
              <input type="text" ng-show="user.editing" ng-model="user.firstName" class="form-control"
                     placeholder="Enter a first name" ng-required />
            </td>
            <td>
              <span ng-hide="user.editing">{{user.age}}</span>
              <input type="text" ng-show="user.editing" ng-model="user.age" class="form-control"
                     placeholder="Age" />
            </td>
            <td>
              <span ng-hide="user.editing">{{user.email}}</span>
              <input type="text" ng-show="user.editing" ng-model="user.email" class="form-control"
                     placeholder="email@yourdomain.com" ng-required />
            </td>
            <td>
              <div class="userDate">
                {{user.createdOn | amDateFormat: 'MM/DD/YYYY'}}
              </div>
              <div class="userTime">
                {{user.createdOn | amDateFormat: 'hh:mm:ss A'}}
              </div>
            </td>
            <td>
              <div class="userDate">
                {{user.lastEdited | amDateFormat: 'MM/DD/YYYY'}}
              </div>
              <div class="userTime">
                {{user.lastEdited | amDateFormat: 'hh:mm:ss A'}}
              </div>
            </td>
            <td>
              <i class="fa fa-check" ng-if="user.active" ng-hide="user.editing"></i>
              <input type="checkbox" ng-show="user.editing" ng-model="user.active" />
            </td>
            <td>
              <button type="submit" ng-hide="user.editing" ng-click="editUser(user)" class="btn btn-default">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="submit" ng-show="user.editing" ng-click="cancel(user, $event)" class="btn btn-default undo">
                <i class="fa fa-undo"></i>
              </button>
              <button type="submit" ng-show="user.editing" ng-click="saveUser(user, $event)" class="btn btn-default save">
                <i class="fa fa-check"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
       <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>
    </p>
  </div>
</footer>
