<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">User list:</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Created on</th>
            <th>Last edited</th>
            <th>Active</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <th>{{user.lastName}}</th>
            <th>{{user.firstName}}</th>
            <th>{{user.age}}</th>
            <th>{{user.email}}</th>
            <th>
              <span class="userDate">
                {{user.createdOn | amDateFormat: 'MM/DD/YYYY'}}
              </span>
              <span class="userTime">
                {{user.createdOn | amDateFormat: 'hh:mm:ss A'}}
              </span>
            </th>
            <th>
              <span class="userDate">
                {{user.lastEdited | amDateFormat: 'MM/DD/YYYY'}}
              </span>
              <span class="userTime">
                {{user.lastEdited | amDateFormat: 'hh:mm:ss A'}}
              </span>
            </th>
            <th><i class="fa fa-check" ng-if="user.active"></i></th>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>
      </p>
  </div>
</footer>
